{% extends 'main/base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block extra_css %}
    <style>
        .create-post-container {
            width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .create-post-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .create-post-container form {
            display: flex;
            flex-direction: column;
        }

        .create-post-container label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .create-post-container input[type="file"] {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
        }

        .create-post-container button {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .create-post-container button:hover {
            background-color: #0056b3;
        }

        .create-post-container .error {
            color: #ff0000;
            margin-bottom: 15px;
            text-align: center;
        }

        .post {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            max-width: 45vw;
        }

        .post-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .post-header img {
            border-radius: 50%;
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .post-header .user-name {
            font-weight: bold;
        }

        .post-header .post-date {
            color: #777;
            margin-left: auto;
        }

        .post-image {
            width: 100%;
            margin-bottom: 15px;
            border-radius: 5px;
            aspect-ratio: 1;
        }
        .post-image img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .post-actions {
            display: flex;
            justify-content: space-between;
        }

        .post-actions button {
            background-color: transparent;
            border: none;
            color: #007bff;
            cursor: pointer;
            padding: 5px;
        }

        .post-actions button:hover {
            color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    {%if user.is_authenticated%}
    <div class="container">
        <h2>Create a New Post</h2>
        <form action="{%url 'post_page'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form}}
            <input type="submit">
        </form>
        <!-- {%if form.errors%}
            <div class="error">
                Please correct the error(s) below.
            </div>
        {% endif %} -->
<!-- 
        <form method="post" action="{%url 'post_page'%}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">Upload Image</label>
            <input type="file" name="image" id="image" required>

            <button type="submit">Post</button>
        </form>  -->
    </div>
    {%endif%}
    <div class="container">

        <h2>Posts</h2>

        {% for post in posts %}
        
            <div class="post">
                <div class="post-header">
                    <!-- <img src="{{ post.user.profile_picture_url }}" alt="User Profile Picture"> -->
                    
                    <a href="../user/{{post.author.id}}" class="user-name">{{ post.author.username }}</a>
                    <a href="{{post.id}}" class="">{{post.title}}</a>
                    <!-- <div class="post-date">{{ post.created_at|date:"F d, Y H:i" }}</div> -->
                </div>

                <div class="post-image">
                    <img src="{{ post.img }}" alt="Post Image">
                </div>

                <div class="post-actions">
                    <button>Like ({{ post.likes }})</button>
                    <button>Comment</button>
                    <form class="save_form" method="post" action="{{post.id}}/save" target="_self">
                        {%csrf_token%}
                        <input type="submit" value="Save" class="save_button">
                    </form>
                    <button id="save-button" post_id="{{post.id}}">Save</button>
                </div>
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}

    </div>

    <script>
        const posts = document.querySelectorAll('.save_form')
        posts.forEach(function(element) {
                console.log("hello world")
                element.addEventListener('submit', function(event){
                event.preventDefault(); 
                const formData = new FormData(this); 
                console.log(formData, formData.get('csrfmiddlewaretoken'))
                const url = element.getAttribute('action')
                const button_value = element[1].getAttribute('value')
                if(button_value.length == 5){
                    fetch(url, {
                        method:'DELETE',
                        headers:{
                            'Content-Type':'application/json', 
                            'X-CSRFToken':formData.get('csrfmiddlewaretoken'), 
                        },
                        
                    }).then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error =>{
                        console.error('Error', error); 
                    })

                    element[1].setAttribute('value', 'Save');            
                }
                else{
                        fetch(url, {
                            method:'POST', 
                            body:formData, 
                        })
                        .then(response =>response.json())
                        .then(data =>{
                            console.log(data); 
                        })
                        .catch(error => {
                            console.error('Error', error); 
                        });

                    element[1].setAttribute('value', 'Saved');            
                } 
               
            });
        })
    </script>
{% endblock %}
